@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

:root {
  --text: #ffe53d;
  --text-dark: #c09300;
  --background: #17062a;
  --primary-dark: #1e0936;
  --primary-mid: #331c4d;
  --primary-mid-light: #6c34ac;
  --primary-light-alt: #56077c;
  --primary-light: #b54de9;
  --secondary-light: #a1fff9;
  --secondary-mid: #2efff1;
  --secondary-dark: #00ded0;
}

* {
  font-family: "Spartan", sans-serif;
  color: var(--text);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.calculator {
  display: grid;
  grid-template-rows: 76px 152px 1fr;
  height: 708px;
  width: 540px;
}

.header {
  display: flex;
  font-size: 32px;
  margin-bottom: 32px;
}

.input-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 32px;
  text-align: right;
  letter-spacing: -0.8;
  border-radius: 10px;
  background-color: var(--primary-dark);
  margin-bottom: 24px;
  border: none;
}

.previous-operand {
  font-size: 24px;
  color: var(--text-dark);
  margin-bottom: 6px;
}

.current-operand {
  font-size: 48px;
}

.input-screen:focus:not(:focus-visible) {
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 24px;
  background-color: var(--primary-dark);
  padding: 24px;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(6px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to left,
    var(--primary-light) 0%,
    var(--primary-mid-light) 8%,
    var(--primary-mid-light) 92%,
    var(--primary-light) 100%
  );
}
.edge-teal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to left,
    var(--secondary-light) 0%,
    var(--secondary-mid) 8%,
    var(--secondary-mid) 92%,
    var(--secondary-light) 100%
  );
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 32px;
  background: var(--primary-mid);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(8px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(4px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.teal .front {
  background-color: var(--secondary-dark);
  color: #fff;
}

.btn-lge {
  grid-column: span 2;
}

.btn-text .front {
  background: var(--primary-light-alt);
  color: #fff;
  font-size: 20px;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 11px;
  text-align: center;
  background: var(--primary-dark);
  width: 100%;
}

.attribution a {
  color: var(--primary-light);
}
