@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600;700&display=swap");

:root {
  --text: #f8e44c;
  --previous-operand-text: #c09300;
  --secondary-text: #fff;
  --buttons-text: #f8e44c;
  --buttons: #331b4d;
  --buttons-shadow: #83209a;
  --buttons-shadow-darker: #b741d1;
  --secondary-button: #56077c;
  --secondary-button-shadow: #b71beb;
  --secondary-button-shadow-darker: #d24bff;
  --alternate-button: #00decf;
  --alternate-buttons-shadow: #76f4f0;
  --alternate-buttons-shadow-darker: #b9fffd;
  --body-background: #17062a;
  --calculator-background: #1e0837;
  --input-background: #1e0837;
}

*,
*::before,
*::after {
  font-family: "Spartan", sans-serif;
  color: var(--text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition: background 200ms ease, color 200ms ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--body-background);
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.calculator {
  display: grid;
  grid-template-rows: 76px 152px 1fr;
  height: 708px;
  width: 540px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.theme-picker-container {
  display: flex;
  align-items: center;
}

.theme-picker-container > span {
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;
}

.theme-picker {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  color: var(--text);
  width: 60px;
}

.number-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 8px;
}

.picker {
  position: relative;
  height: 17px;
  width: 100%;
  background: var(--input-background);
  border-radius: 25px;
}

.ball {
  position: absolute;
  left: 5%;
  top: 2px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: var(--alternate-button);
  cursor: pointer;
  transition: left 200ms ease;
}

.input-screen {
  position: relative;
  padding-right: 32px;
  text-align: right;
  letter-spacing: -0.8;
  border-radius: 10px;
  background: var(--input-background);
  margin-bottom: 24px;
  border: none;
}

.previous-operand {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--previous-operand-text);
  margin-bottom: 6px;
}

.current-operand {
  position: absolute;
  top: 56px;
  right: 32px;
  font-size: 48px;
}

.input-screen:focus:not(:focus-visible) {
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 24px;
  background: var(--calculator-background);
  padding: 24px;
  border-radius: 10px;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(6px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to left,
    var(--buttons-shadow-darker) 0%,
    var(--buttons-shadow) 8%,
    var(--buttons-shadow) 92%,
    var(--buttons-shadow-darker) 100%
  );
}

.secondary-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to left,
    var(--secondary-button-shadow-darker) 0%,
    var(--secondary-button-shadow) 8%,
    var(--secondary-button-shadow) 92%,
    var(--secondary-button-shadow-darker) 100%
  );
}

.edge-teal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to left,
    var(--alternate-buttons-shadow-darker) 0%,
    var(--alternate-buttons-shadow) 8%,
    var(--alternate-buttons-shadow) 92%,
    var(--alternate-buttons-shadow-darker) 100%
  );
}

.front {
  color: var(--buttons-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 32px;
  background: var(--buttons);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(8px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(4px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.teal .front {
  background: var(--alternate-button);
  color: var(--secondary-text);
}

.btn-lge {
  grid-column: span 2;
}

.btn-text .front {
  background: var(--secondary-button);
  color: var(--secondary-text);
  font-size: 20px;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 11px;
  text-align: center;
  background: var(--calculator-background);
  width: 100%;
}

.attribution a {
  color: var(--secondary-button-shadow);
}
